@page
@model zad9.Pages.DeleteModel
@{
	ViewData["Title"]="Usuń";
}
<h2>Usuwanie produktu @Model.product.name ID: @Model.product.id 
</h2>
<div class="container">
	<form class="form-horizontal" method="post">
		<input hidden asp-for="product.id" />
		<div>Czy napewno chcesz usunąć ten produkt?</div>
		<br />
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button class="btn btn-primary">Zatwierdź</button>
			</div>
		</div>
	</form>
</div>